$color_purple: #4F3589, #6645B0, #8056DC, #B492FF, #CBB3FF, #E4D9FF;
$color_green: #4B7542, #659F4F, #8AD961, #B4ED98, #D1FFB4, #C9E8B8;
$color_grey: #0F1822, #3E454C, #7E8992, #A9B0B7, #D4D8DB, #E7EAF0;